@import 'constants';

$fg_base: #fff;
$bg_base: #2f2f2f;
$bg_body: #999;
// $bg_body: lighten($bg_base, 35);

$text_color: rgba($fg_base, .6);
$text_color2: rgba($fg_base, .8);
$text_color3: #383838;

$btn_bgcolor: lighten($bg_base, 8);
$btn_bgcolor_hover: $bg_base;
$btn_bgcolor_disabled: #777;
$btn_fgcolor: $text_color;
$btn_fgcolor_hover: $fg_base;
$btn_fgcolor_disabled: rgba($fg_base, .3);
$btn-outline-danger: #000;

$btn_bordercolor: lighten($btn_bgcolor, 20);
$btn_bordercolor_hover: lighten($btn_bgcolor_hover, 20);
$btn_bordercolor_active: darken($btn_bgcolor, 8);
$btn_bordercolor_disabled: darken($btn_bgcolor_disabled, 8);

$form_bgcolor: #eee;
$form_bordercolor: darken($bg_body, 30);
$form_bgcolor_active: lighten($form_bgcolor, 5);
$form_fgcolor_error: #f00;
$form_shadow_error: rgba($form_fgcolor_error, .5);

$login_bgcolor: #666;

// $modal_border:
$modal_bgcolor: lighten($bg_body, 8);
$modal_fgcolor: rgba($fg_base, .6);
$modal_bordercolor: darken($modal_fgcolor, 30);

$navbar_bgcolor: rgba($bg_base, .5);
$navbar_fgcolor: rgba($fg_base, .4);

$menu_fgcolor: darken($fg_base, 50);

$switch_bgcolor: rgba($fg_base, .2);
$switch_fgcolor: rgba(darken($fg_base, .1), .8);
$switch_bgcolor_active: rgba($fg_base, .6);
$switch_fgcolor_active: $light_red;

$control_defaultbg: lighten($bg_base, 8);
$control_border: rgba($white, .3);
