$white: #fff;
$red: #f00;
$orange: #e47a1f;
$light_red: #f55;
$black: #000;
$blue: #55f;
$green: #3f0;
$tranparent: rgba(0, 0, 0, 0);

$red_shadow: rgba($red, .7);
$red_shadow_light: rgba($red, .5);
$white_shadow: rgba($white, .4);
$black_shadow: rgba($black, .4);
$black_shadow_dark: rgba($black, .6);
$black_shadow_light: rgba($black, .3);

$white_shadow_light: rgba($white, .3);
$white_shadow_light2: rgba($white, .1);
