@import 'colors';

.fc {
  overflow-x: auto;

  .table-bordered {
    border: 0 solid transparent;
  }

  .fc-header-toolbar {
    display: none;
  }

  .fc-time {
    border: 0 solid transparent;
  }

  .fc-body {
    background-color: inherit;
    > tr > td {
      border-width: 0;

      .fc-today {
        background-color: $white_shadow_light2;
      }
    }
  }

  .fc-head {
    background-color: transparent;
    color: $white;
    .fc-head-container {
      border-width: 0;
      font-size: 120%;
      padding-top: .6rem;
      .fc-day-header,
      .fc-axis {
        background-color: transparent;
        border: 0 solid transparent;
        line-height: 2rem;
      }
    }
  }

  .fc-view-container {
    background-color: inherit;
    color: $white;
    min-width: 800px;
    .fc-content {
      .fc-time {
        font-size: 150%;
      }
      .fc-title {
        font-size: 120%;
      }
    }
    .fc-axis {
      background-color: transparent;
      border: 0 solid transparent;
      font-size: 1.2rem;
    }
  }

  td {
    border-color: $white_shadow_light;
  }

  .fc-bg {
    .fc-today {
      background-color: lighten($bg_body, 15);
    }
  }
}
