@import 'fonts';
@import 'colors';

html {
  font-size: 10px;
  height: 100%;
}

body {
  background: $bg_body;
  color: $text_color;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  height: 100%;
  line-height: 1.15;
  outline: none;
  overflow: auto;
}

@media only screen and (min-width: 0) {
  .root_container {
    max-width: 100%;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 576px) {
  .root_container {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    max-width: 100%;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1200px) {
  .root_container {
    max-width: 1200px;
  }
}

.root_container {
  margin-left: auto;
  margin-right: auto;
}

#calendar {
  .table-bordered {
    cursor: pointer;
  }
}

textarea,
input,
button,
label,
input,
textarea,
select,
.btn,
.page-link {
  &.disabled {
    cursor: default;
  }
  // cursor: pointer;
  &:hover,
  &:active,
  &:focus,
  &.active {
    -moz-box-shadow: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
  }
}

.pager {
  text-align: center;
  .inner {
    display: inline-block;
  }
}

.pagination {
  margin-bottom: .6rem;
  .page-item {
    .page-link {
      background-color: lighten($login_bgcolor, 28);
      border-color: darken($bg_body, 5);
      color: lighten($black, 20);
      &:hover {
        background-color: lighten($login_bgcolor, 40);
        border-color: darken($bg_body, 10);
        color: $black;
      }
    }
    &.disabled {
      .page-link {
        background-color: lighten($login_bgcolor, 23);
        border-color: darken($bg_body, 5);
        color: lighten($black, 40);
      }
    }
    &.active {
      .page-link {
        background-color: lighten($login_bgcolor, 35);
        border-color: darken($bg_body, 5);
        color: lighten($black, 10);
      }
    }
  }
}

.vue-slider-disabled {
  opacity: 1 !important;
}

.fa-icon.form-select {
  color: inherit;
  height: 24px;
  position: absolute;
  right: 1rem;
  top: 0;
  width: auto;
}

.custom-select {
  background-size: 0;
}

.v-spinner.white {
  .v-clip {
    border-color: lighten($bg_body, 20) lighten($bg_body, 30)  transparent !important;
  }
}

.right {
  text-align: right;
}

// .navbar {
//   flex-direction: row;
// }
