@mixin text-contour($color) {
  text-shadow: -1px 0 $color, 0 1px $color, 1px 0 $color, 0 -1px $color;
}

@mixin m-box-shadow($color) {
  -webkit-box-shadow: 0 0 0 1px $color;
  box-shadow: 0 0 0 1px $color;
}

@mixin ease-out-transition($delay) {
  -moz-transition: ease-out $delay ease-in 0s;
  -o-transition: ease-out $delay ease-in 0s;
  -webkit-transition: ease-out $delay ease-in 0s;
  transition: ease-out $delay ease-in 0s;
}

@mixin ease-size-transition($delay) {
  -moz-transition: width $delay ease-in-out;
  -o-transition: width $delay ease-in-out;
  -webkit-transition: width $delay ease-in-out;
  transition: width $delay ease-in-out;
}


@mixin zoomin-transition {
  -moz-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  // -webkit-transition: all 200ms ease-in;
  // -webkit-transform: scale(1.5);
  // -ms-transition: all 200ms ease-in;
  // -ms-transform: scale(1.5);
  // -moz-transition: all 200ms ease-in;
  // transition: all 200ms ease-in;
  transform: scale(1.5);
  transform-origin: left bottom;
}

@mixin zoomout-transition {
  -moz-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  // -webkit-transition: all 200ms ease-in;
  // -webkit-transform: scale(1);
  // -ms-transition: all 200ms ease-in;
  // -ms-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

@mixin infinite-zoomin {
  animation: pulse 6s infinite;
}

@mixin fadein($delay) {
  animation: fadein $delay;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pulse {
  48% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  52% {
    transform: scale(1);
  }
}
