@import 'colors';

.own_modal {
  
  .modal-dialog {
    min-width: 250px;
    border-radius: 0 0 .8rem .8rem;

    .modal-content {
      background-color: $modal_bgcolor;
      border: 0;
      border-radius: 0 0 .8rem .8rem;
      box-shadow: 5px 5px 15px $black;

      h6 {
        color: $text_color3;
      }

      .modal-header {
        border-bottom: 0;
        padding: 0;
        .content {
          border: 0;
          border-radius: 0;
          display: flex;
          justify-content: space-between;
          padding: 0;
          width: 100%;

          .inner {
            background-color: $white_shadow_light;
            padding: .6rem .8rem;
            width: 100%;

            .title {
              // color: $black;
              font-size: 200%;
            }
          }

          .spinner {
            background-color: $white_shadow_light;
            > * {
              margin-right: .5rem;
              margin-top: .5rem;
            }
          }
        }
      }

      .modal-body,
      .modal-footer {
        padding: 0;
        margin: 0;

        > * {
          margin: 0;
        }

        > button,
        > .btn-group,
        .pending,
        .readonly_help,
        .alarm,
        .error {
          width: 100%;
        }

        > button,
        > .btn-group > a,
        > .btn-group > button {
          border-radius: 0;
          color: $white;
          min-height: 4rem;
          width: inherit;
        }

        button,
        a {
          &:not(.page-link) {
            font-size: 1.4rem;
          }
          &.disabled {
            color: $white;
          }
          &.left_radius {
            border-bottom-left-radius: .8rem;
          }
          &.right_radius {
            border-bottom-right-radius: .8rem;
          }
          .fa-icon {
            height: 2rem;
            vertical-align: bottom;
            width: auto;
          }
        }
      }

      .modal-footer {
        background-color: $white;
        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;
        border-top: 0;
      }
    }
  }
}
