@import 'colors';

.vue-switcher {
  input {
    height: 0;
    left: 0;
    top: 0;
    width: 0;
  }

  * {
    cursor: pointer !important;
  }
}

.vue-switcher--disabled div {
  opacity: inherit !important;
}

.vue-switcher-theme--custom {
  &.vue-switcher-color--white {
    div {
      background-color: $switch_bgcolor_active;

      &::after {
        // for the circle on the switch
        background-color: $switch_fgcolor_active;
        border: 2px solid $fg_base;
      }
    }

    &.vue-switcher--unchecked {
      div {
        background-color: $switch_bgcolor;

        &::after {
          background-color: $switch_fgcolor;
          border: 0;
        }
      }
    }
  }
}
