@import 'colors';

.v-toaster {
  min-width: 250px;

  .v-toast {
    border-radius: .15rem;
    box-shadow: 0 0 3px $black_shadow;
    font-size: 150%;
    position: relative;

    .v-toast-btn-clear {
      background: transparent;
      border: 0;
      color: currentColor;
      cursor: pointer;
      float: right;
      opacity: 1;
      padding: 10px;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: -.25rem;
    }
  }
}
